<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1，user-scalable=no">
    <title>layuiAdmin后台管理模板</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <style>
        *{margin:0;padding:0;}
        body{padding:10px;}
        .layui-form-item{/*max-width:600px;*/}
    </style>
</head>

<body>
    <form class="layui-form layui-form-pane" action="">
            <!--验证非空字符串-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">验证非空字符串</div>
            </div>
            <!--验证数字(double类型) [可以包含负号和小数点]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="number" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证数字(double类型) [可以包含负号和小数点]</div>
            </div>
            <!--验证整数-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入整数" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证整数</div>
            </div>
            <!--验证非负整数-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证非负整数</div>
            </div>
            <!--验证正整数-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证正整数</div>
            </div>
            <!--验证小数-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证小数</div>
            </div>
            <!--验证只包含英文字母-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证只包含英文字母</div>
            </div>
            <!--验证只包含数字和英文字母-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证只包含数字和英文字母</div>
            </div>
            <!--验证只包含汉字-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证只包含汉字</div>
            </div>
            <!--验证数字长度范围（数字前端的0计长度）[若要验证固定长度，可传入相同的两个长度数值]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证数字长度范围（数字前端的0计长度）[若要验证固定长度，可传入相同的两个长度数值]</div>
            </div>
            <!--验证字符串包含内容-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证字符串包含内容</div>
            </div>
            <!--验证字符串长度范围 [若要验证固定长度，可传入相同的两个长度数值]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证字符串长度范围 [若要验证固定长度，可传入相同的两个长度数值]</div>
            </div>
            <!--验证字符串长度范围（字符串内只包含数字和/或英文字母）[若要验证固定长度，可传入相同的两个长度数值]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证字符串长度范围（字符串内只包含数字和/或英文字母）[若要验证固定长度，可传入相同的两个长度数值]</div>
            </div>
            <!--验证字符串长度范围 [若要验证固定长度，可传入相同的两个长度数值]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证字符串长度范围 [若要验证固定长度，可传入相同的两个长度数值]</div>
            </div>
            <!--验证字符串字节数长度范围 [若要验证固定长度，可传入相同的两个长度数值；每个汉字为两个字节长度]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证字符串字节数长度范围 [若要验证固定长度，可传入相同的两个长度数值；每个汉字为两个字节长度]</div>
            </div>
            <!--验证日期 [只能验证日期，不能验证时间]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证日期 [只能验证日期，不能验证时间]</div>
            </div>
            <!--验证固定电话号码 [3位或4位区号；区号可以用小括号括起来；区号可以省略；区号与本地号间可以用减号或空格隔开；可以有3位数的分机号，分机号前要加减号]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证固定电话号码 [3位或4位区号；区号可以用小括号括起来；区号可以省略；区号与本地号间可以用减号或空格隔开；可以有3位数的分机号，分机号前要加减号]</div>
            </div>
            <!--验证手机号码 [可匹配"(+86)013325656352"，括号可以省略，+号可以省略，(+86)可以省略，11位手机号前的0可以省略；11位手机号第二位数可以是3、4、5、8中的任意一个-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证手机号码 [可匹配"(+86)013325656352"，括号可以省略，+号可以省略，(+86)可以省略，11位手机号前的0可以省略；11位手机号第二位数可以是3、4、5、8中的任意一个</div>
            </div>
            <!--验证电话号码（可以是固定电话号码或手机号码）-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证电话号码（可以是固定电话号码或手机号码）</div>
            </div>
            <!--验证邮政编码-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证邮政编码</div>
            </div>
            <!--验证电子邮箱 [@字符前可以包含字母、数字、下划线和点号；@字符后可以包含字母、数字、下划线和点号；@字符后至少包含一个点号且点号不能是最后一个字符；最后一个点号后只能是字母或数字]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证电子邮箱 [@字符前可以包含字母、数字、下划线和点号；@字符后可以包含字母、数字、下划线和点号；@字符后至少包含一个点号且点号不能是最后一个字符；最后一个点号后只能是字母或数字]</div>
            </div>
            <!--验证网址（可以匹配IPv4地址但没对IPv4地址进行格式验证；IPv6暂时没做匹配）[允许省略"://"；可以添加端口号；允许层级；允许传参；域名中至少一个点号且此点号前要有内容]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证网址（可以匹配IPv4地址但没对IPv4地址进行格式验证；IPv6暂时没做匹配）[允许省略"://"；可以添加端口号；允许层级；允许传参；域名中至少一个点号且此点号前要有内容]</div>
            </div>
            <!--验证IPv4地址 [第一位和最后一位数字不能是0或255；允许用0补位]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证IPv4地址 [第一位和最后一位数字不能是0或255；允许用0补位]</div>
            </div>
            <!--验证IPv6地址 [可用于匹配任何一个合法的IPv6地址]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证IPv6地址 [可用于匹配任何一个合法的IPv6地址]</div>
            </div>
            <!--验证身份证号 [可验证一代或二代身份证]-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证身份证号 [可验证一代或二代身份证]</div>
            </div>
            <!--验证经度-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证经度</div>
            </div>
            <!--验证纬度-->
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">验证纬度</div>
            </div>
            <!--sumit提交按钮-->
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
</body>
<script src="../layui/layui.js"></script>
<script src="../js/config.js"></script>
<script src="../js/validate.js.js"></script>
<script>
    //Demo
    layui.use(["form","laydate","checkForm"], function(){
        var form = layui.form;
        var checkForm=layui.checkForm;
        var laydate=layui.laydate;

        //
        checkForm.hello();

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</html>